/* Basis-Styling */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    position: relative;
    background-color: #252628;
    color: white;
    overflow: hidden;
    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #2513d1;
    transform: skew(+35deg);
    transform-origin: top left;
    z-index: -1;
    margin-left: -60px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.left span {
    margin-right: 20px;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.right i {
    margin-left: 15px;
}

.fa {
    margin-right: 8px;
}

.fa-envelope,
.fa-map-marker,
.fa-phone,
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-dribbble {
    font-size: 16px;
}

.right a {
    color: white;
    margin-left: 15px;
    font-size: 20px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    border: 1px solid rgb(4, 3, 3);
    box-sizing: border-box; 
    width: 80%; 
    max-width: 500px; 
    text-align: center; 
    background-color: #f4f4f4; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 50px auto; 
    margin-top: 15%;
}






@media (max-width: 510px) and (min-width: 320px) {
    header {
        background-color: #2513d1;
    }

    header::before {
        display: none;
    }

    .contact-info {
        flex-direction: column;
        text-align: center;
    }

    .left,
    .right {
        font-size: 12px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .left span,
    .right i {
        margin: 5px 0;
    }

    .fa {
        font-size: 12px;
        margin-right: 5px;
    }
}


@media (max-width: 1179px) {

    .left,
    .right {
        font-size: 12px;
    }
}

@media (max-width: 954px) {

    .left,
    .right {
        font-size: 9px;
    }
}

@media (max-width: 720px) {

    .left,
    .right {
        font-size: 8px;
    }
}

@media (max-width: 520px) {
    .right {
        display: none;
    }
}